# Final Report Analysis Material

In [4]:
pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [10]:
# creating the dataframe for broadband data and checking to make sure it loaded correctly
broadband_data = pd.read_csv('broadband_zip.tsv', sep='\t')
broadband_data.head()

,ZCTA19,YEAR,AVG_DOWNLOAD_SPEED,AVG_UPLOAD_SPEED,TOT_HS_PROVIDERS,RES_HS_PROVIDERS
0,601,2014,19.813393,9.343154,1,0
1,602,2014,349.208313,337.247375,1,0
2,603,2014,306.383850,295.335480,1,0
3,606,2014,87.131958,69.543427,1,0
4,610,2014,381.423340,373.166656,1,0

In [12]:
#creating the dataframe for healthcare data and checking to make sure it loaded correctly
healthcare_data = pd.read_csv('healthcare_zip_2020.tsv', sep='\t', dtype = str)
healthcare_data.head()

,ZCTA20,TOTPOP,ALAND,COUNT_HOSPITALS,DEN_HOSPITALS,ADEN_HOSPITALS,COUNT_HOSPITAL_BEDS,DEN_HOSPITAL_BEDS,ADEN_HOSPITAL_BEDS,COUNT_OWNER_GOVERNMENT_DISTRICT,...,ADEN_TYPE_PSYCHIATRIC,COUNT_TYPE_REHABILITATION,DEN_TYPE_REHABILITATION,ADEN_TYPE_REHABILITATION,COUNT_TYPE_SPECIAL,DEN_TYPE_SPECIAL,ADEN_TYPE_SPECIAL,COUNT_TYPE_WOMENS,DEN_TYPE_WOMENS,ADEN_TYPE_WOMENS
0,00601,17242,64.420341492,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00602,37548,30.327054977,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00603,49804,34.346618652,1,.0200787093,.02911494672,154,3.09212112,4.483701706,0,...,0,0,0,0,0,0,0,0,0,0
3,00606,5009,44.334327698,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,00610,25731,37.115749359,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
#creating the dataframe for socioeconomic data and checking to make sure it loaded correctly
socio_data = pd.read_csv('socioeconomic_zip.tsv', sep='\t', dtype = str, low_memory = False)
socio_data.head()

,ZCTA20,ALAND20,TOTPOP20,POPDEN16_20,PHISPANIC16_20,PNHWHITE16_20,PNHBLACK16_20,PFBORN16_20,PLIMENG16_20,PED1_16_20,...,POWNOC16_20,AFFLUENCE16_20,DISADVANTAGE16_20,HISPAN_FORBORN_LIMENG16_20,MEDFAMINC16_20,MEDFAMINC_NHWHITE16_20,MEDFAMINC_BLACK16_20,MEDFAMINC_HISPANIC16_20,RATIO_MEDFAMINC_NHWTOB16_20,RATIO_MEDFAMINC_NHWTOHISP16_20
0,01001,11.292496681,16064,1422.53747559,.0548431277275,.8694596886635,.0240911357105,.0793077722192,.0166172105819,.0766620859504,...,.7354096770287,.3707991540432,.1081489622593,.050256036222,89728,97375,,,,
1,01002,53.255802155,30099,565.17785645,.0751852244139,.7014850974083,.055084887892,.1766836047173,.0137127898633,.0330112166703,...,.4963661432266,.5598208904266,.1745635867119,.0885272026062,114866,130383,,74808,,1.742901802063
2,01003,.804123402,11588,14410.72363282,.072747670114,.6353986859322,.0415084585547,.1472212672234,.0031929581892,0,...,.1739130467176,.1532907485962,.2051282078028,.0743872970343,,,,,,
3,01005,43.18907547,5166,119.6135788,.0350367799401,.9355400800705,.0199380572885,.0323267504573,0,.0424818322062,...,.925650537014,.401936352253,.093006439507,.0224545095116,108457,108926,,,,
4,01007,54.869407654,15080,274.8343811,.0255968160927,.9026525020599,.0074270558544,.057095490396,.0033662950154,.0345804989338,...,.8267160654068,.4591900408268,.072945728898,.0286862011999,110360,111453,,,,

### Getting the keys for each dataframe

In [22]:
# checking for the columns in the socioeconomic data
socio_data.columns

Index(['ZCTA20', 'ALAND20', 'TOTPOP20', 'POPDEN16_20', 'PHISPANIC16_20',
       'PNHWHITE16_20', 'PNHBLACK16_20', 'PFBORN16_20', 'PLIMENG16_20',
       'PED1_16_20', 'PED2_16_20', 'PED3_16_20', 'PFAMINCLT40K16_20',
       'PFAMINCGE40LT75K16_20', 'PFAMINCGE75LT125K16_20', 'PFAMINCGE125K16_20',
       'PNVMAR16_20', 'P18YR_16_20', 'P18_29_16_20', 'P30_39_16_20',
       'P40_49_16_20', 'P50_69_16_20', 'PGE70_16_20', 'PUNEMP16_20',
       'PPROF16_20', 'PPOV16_20', 'PPUBAS16_20', 'PFHFAM16_20', 'PSNGPNT16_20',
       'POWNOC16_20', 'AFFLUENCE16_20', 'DISADVANTAGE16_20',
       'HISPAN_FORBORN_LIMENG16_20', 'MEDFAMINC16_20',
       'MEDFAMINC_NHWHITE16_20', 'MEDFAMINC_BLACK16_20',
       'MEDFAMINC_HISPANIC16_20', 'RATIO_MEDFAMINC_NHWTOB16_20',
       'RATIO_MEDFAMINC_NHWTOHISP16_20'],
      dtype='object')

In [23]:
# checking for the columns in the healthcare data
healthcare_data.columns

Index(['ZCTA20', 'TOTPOP', 'ALAND', 'COUNT_HOSPITALS', 'DEN_HOSPITALS',
       'ADEN_HOSPITALS', 'COUNT_HOSPITAL_BEDS', 'DEN_HOSPITAL_BEDS',
       'ADEN_HOSPITAL_BEDS', 'COUNT_OWNER_GOVERNMENT_DISTRICT',
       ...
       'ADEN_TYPE_PSYCHIATRIC', 'COUNT_TYPE_REHABILITATION',
       'DEN_TYPE_REHABILITATION', 'ADEN_TYPE_REHABILITATION',
       'COUNT_TYPE_SPECIAL', 'DEN_TYPE_SPECIAL', 'ADEN_TYPE_SPECIAL',
       'COUNT_TYPE_WOMENS', 'DEN_TYPE_WOMENS', 'ADEN_TYPE_WOMENS'],
      dtype='object', length=108)

In [24]:
# checking for the columns in the broadband data
broadband_data.columns

Index(['ZCTA19', 'YEAR', 'AVG_DOWNLOAD_SPEED', 'AVG_UPLOAD_SPEED',
       'TOT_HS_PROVIDERS', 'RES_HS_PROVIDERS'],
      dtype='object')

In [27]:
# Cleaning the zip codes for each dataframe
broadband_data['zip'] = broadband_data['ZCTA19'].astype(str).str.zfill(5)
healthcare_data['zip'] = healthcare_data['ZCTA20'].astype(str).str.zfill(5)
socio_data['zip'] = socio_data['ZCTA20'].astype(str).str.zfill(5)

In [28]:
# filtering for Michigan data in broadband dataset

def filter_michigan(df):
    return df[df["zip"].str.startswith(("48", "49"))]

broadband_data = filter_michigan(broadband_data)
healthcare_data = filter_michigan(healthcare_data)
socio_data = filter_michigan(socio_data)

## Key Variables from Each DF
#### Socio_Data
- DISADVANTAGE16_20 = The disadvanatge index
- PROV16_20 = % poverty
- MEDFAMINC16_20 = median income
- POPDEN16_20 = population density
- ALAND20 = land area

#### Healthcare_Date
- COUBNT_HOSPITALS = hospital ocunt per ZIP cpde
- DEN_HOSPITALS = hospital density
- COUNT_HOSPITAL_BEDS = bed counts

#### Broadband_Data
- AVG_DOWNLOAD_SPEED = download speed (MBps)
- AVG_UPLOAD-SPEED = upload speeds (Mbps)
- TOT_HS_PROVIDERS = # of high speed providers
- RES_HS_PROVIDERS = residential high speed providers

# Merging Dataframes

In [31]:
df = broadband_data.merge(healthcare_data[['zip', 'COUNT_HOSPITALS']], on= 'zip', how = 'inner')
df = df.merge(socio_data[['zip', 'DISADVANTAGE16_20']], on = 'zip', how='inner')

df['DISADVANTAGE16_20'] = pd.to_numeric(df['DISADVANTAGE16_20'], errors='coerce')
df['ses_quartile'] = pd.qcut(df['DISADVANTAGE16_20'], 4, labels = ['Low', 'Medium', 'High', 'Very High'])